<div class="row">

    <div class="card p-2 mt-5 d-flex">
      <div class="card-header text-center">
        Application Web Front Angular 11
      </div>
      <div class="card-body">
          <img class="p-3 img-thumbnail img-fluid" src="assets/img/logo-g-pro3.png" alt="logo">
            <p>G PRO est une application de plannification et de maitrise du temps travail sur un projet informatique</p>
            <p>l'application permet de :</p>
            <ul class="list-unstyled">
              <li>Créer un projet</li>
              <li>Enrégistrer une taches et son temps de travail pour un projet</li>
              <li>Afficher la liste des projets et le temps passé sur chaqque projets</li>
              <li>Afficher le détail d'un projet ainsi que l'ensemble des taches et également le temps réquis</li>
            </ul>
          <p>elle permet à terme d'avoir une vue globale sur l'ensemble des projets, les différentes taches et leur temps d'exécution</p>
      </div>
    </div>
</div>
