<nav class="navbar navbar-expand-sm bg-light navbar-light col-sm-12">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav me-2 mb-2 mb-lg-0">
      <li class="btn btn-outline-info ml-2 btn-sm me-2" (click)="onGetAllProjets()">Mes projets</li>
      <li class="btn btn-outline-info ml-2 btn-sm me-2" (click)="onNewProjet()">New projet</li>
      <li class="btn btn-outline-info ml-2 btn-sm me-2" (click)="onNewTache()">New tache</li>
    </ul>
    <form (ngSubmit)="recherche(f.value)" #f= "ngForm" class="navbar-form navbar-right">
      <div class="input-group">
        <input ngModel name="keyword" aria-label="Search" required="required" type="search" placeholder="search" class="form-control mr-2">
        <button class="btn btn-outline-info btn-sm">
          <span class="fa fa-search">Search</span>
        </button>
      </div>
    </form>
  </div>
</nav>
