  <div class="row" *ngIf="formGroupTache">
    <div class="offset-md-3  col-md-6">
      <form [formGroup]="formGroupTache">
        <fieldset>
          <legend>Ajout de nouvelle  tache</legend>
          <div class="form-group">
            <label class="form-label">Intitule</label>
            <select class="form-control" formControlName="project">
              <option [ngValue]="null" disabled selected>---Choisir le projet---</option>
              <option *ngFor="let project of listProject" [ngValue]="project">
                {{project.titre}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-label">Intitulé</label>
            <input class="form-control" formControlName="intitule" type="text">
          </div>
          <div class="form-group">
            <button class="btn btn-outline-info" (click)="addTache()">Create</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

