<div class="row" *ngIf="editFormGroup">
  <div class="offset-md-3  col-md-6">
    <form [formGroup]="editFormGroup">
      <fieldset>
        <legend>Formulaire d'édition</legend>
        <div class="form-group">
          <div class="form-label">Titre</div>
          <input class="form-control" formControlName="titre">
        </div>
        <div class="form-group">
          <div class="form-label">Description</div>
          <textarea class="form-control" formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <input type="hidden" formControlName="taches" class="form-control">
        </div>
        <div class="form-group">
          <input type="hidden" formControlName="temps" class="form-control">
        </div>
        <div class="form-group mt-3">
          <button (click)="onEdit()" class="btn btn-outline-info me-3">Save</button>
          <button (click)="onCancel()" class="btn btn-outline-warning">Annuler</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
